{% extends './basic.html'%}

{%block css%}
<style>
    .list-group{
  padding-left:465px;
  padding-right:465px;
}

</style>
{% endblock %}

{%block content%}

<div class="my-4"><center><h1>Home Page</h1>
<ul class="list-group">
  <li class="list-group-item list-group-item-info my-4"><h4><a href="./blog">Blog</a></h4></li>
  <li class="list-group-item list-group-item-light my-4"><h4><a href="./shop">Shop</a></h4></li>
    <li class="list-group-item list-group-item-dark my-4"><h4><a href="./admin">Admin</a></h4></li>
</ul>
    </center>
</div>
{%endblock%}
