{% extends './basic.html'%}
{%block css%}
<style>
.col-md-3{
    display: inline-block;
    margin-left:-4px;
}

.col-md-3 img{
    width:170px;
    height:200px;
}

body .carousel-indicator li{
    background-color: blue;

}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
    background-color: blue;
}

body .carousel-control-prev,
body .carousel-control-next{
    width: 20px;
}

.carousel-item{
    width: 94%;
}

body .no-padding{
    padding-left:20px;
    padding-right:20px;
}

.btn-info{
padding-left:17px;
}



</style>
{%endblock%}

{%block content%}
<div class="container">
    {% for data, slides, range in allProducts %}
    <h1>{{ data.0.category }}</h1>
    <div id="demo{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
        <div>
            <ul class="carousel-indicators">
                <li data-target="#demo{{ forloop.counter }}" data-slide-to="1" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{ forloop.parentloop.counter }}" data-slide-to="{{ i }}"></li>
                {% endfor %}
            </ul>

            {% load static %}
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    {% for p in data %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center" style="width: 18rem;">
                            <img src='/media/{{p.image}}' class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="namepr{{p.id}}">{{ p.productName}}</h5>
                                <p class="card-text">{{p.description|slice:"0:20"}}...</p><br>
                                <p class="card-text">{{p.price}}.00 INR</p>
                                <span id="divpr{{p.id}}" class="divpr">
                                    <button id="pr{{p.id}}" class="btn btn-primary addToCartButton">Add To Cart</button>
                                </span>
                                <br>
                                <a href="/shop/products/{{p.id}}">
                                    <button id="qv{{p.id}}" class="btn btn-info cart my-2 quickViewButton">Quick View</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor%}
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo{{ forloop.counter }}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{ forloop.counter }}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <br id="{{forloop.counter}}">
    {% endfor %}
    {% endblock %}

</div>

{% block js%}

<script>
        if(localStorage.getItem("cart")==null){
            var cart = {};
        }
        else{
            var key = "cart";
            var obj = localStorage.getItem(key);
            cart = JSON.parse(obj);
            document.getElementById("cartItems").innerHTML = Object.keys(cart).length;
            updateCart(cart);
        }

        $('#cartPopOver').popover();
        updateCartPopOver(cart);

        function updateCartPopOver(cart){
            popOverContent = "<h5>Cart For Your Items In My Shopping Cart</h5> <div> <br>";
            var i = 1;
            for(var item in cart){
                var productName = document.getElementById("name"+item).innerHTML;
                var qty = cart[item];
                if(qty=="0") continue;
                popOverContent = popOverContent + "<div class='row'>";
                popOverContent = popOverContent + "<div class='col-md-6'>"+i+". "+productName+"</div>";
                popOverContent = popOverContent + "<div class='col-md-6'> (Qty "+qty+")</div>";
                popOverContent = popOverContent + "</div>";
                i = i+1;
            }
            popOverContent  = popOverContent + "</ol></div>";
            document.getElementById("cartPopOver").setAttribute('data-content', popOverContent);
            $('#cartPopOver').popover('show');
        }

        $('.divpr').on("click", "button.addToCartButton", function() {
            var idstr = this.id.toString();
            if(cart[idstr] && cart[idstr]!=undefined){
                cart[idstr]=cart[idstr]+1;
            }
            else{
                cart[idstr]=1;
            }
            document.getElementById("cartItems").innerHTML = 1 + parseInt(document.getElementById("cartItems").innerHTML);
            localStorage.setItem("cart", JSON.stringify(cart));
            updateCart(cart);
        });

        $(".quickViewButton").click(function(){
            var qtyId = this.id.slice(2,);
            var p = JSON.parse(localStorage.getItem('cart'));
            var qty = p["pr{{ selectedProduct.id }}"];
            if(qty!=undefined)
            document.getElementById("quantity").innerHTML = qty;
        });

        function updateCart(cart){
            for(var item in cart){
                var itemId = "div"+item;
                if(cart[item]!="0"){
                    document.getElementById(itemId).innerHTML = "<button id='val"+item+"' class='btn btn-primary minusButton'>-</button><b> <span id='qty"+item+"' >" + cart[item] + "</span> </b><button id='val"+item+"' class='btn btn-primary plusButton'>+</button>";
                }
                else{
                    document.getElementById(itemId).innerHTML = "<button id="+item+" class='btn btn-primary addToCartButton'>Add To Cart</button>";
                }
            }
            localStorage.setItem("cart", JSON.stringify(cart));
            updateCartItem(cart);
            updateCartPopOver(cart);
        }

        $('.divpr').on("click", "button.minusButton", function() {
            var idStr = this.id.slice(3,);
            cart[idStr] = Math.max(0,parseInt(cart[idStr])-1);
            var qtyId = "qty"+idStr;
            document.getElementById(qtyId).innerHTML = cart[idStr];
            updateCart(cart);
        });

        $('.divpr').on("click", "button.plusButton", function() {
            var idStr = this.id.slice(3,);
            cart[idStr] = parseInt(cart[idStr])+1;
            var qtyId = "qty"+idStr;
            document.getElementById(qtyId).innerHTML = cart[idStr];
            updateCart(cart);
        });

        function updateCartItem(cart){
            var total = 0;
            for(var i=0;i<Object.keys(cart).length;i++){
                total = total + Object.values(cart)[i];
            }
            document.getElementById("cartItems").innerHTML = total;
        }
</script>


{% endblock %}
